---
import Layout from '../layouts/Layout.astro'
import Slider from '../components/Slider.astro'
import SliderContent from '../components/SliderContent.astro'

export const title = 'Sign Up Concept'
export const source = new URL(
  'https://dribbble.com/shots/2878911-To-Do-App-Concept-Sign-Up'
)
---

<Layout title={title} source={source}>
  <div
    class="min-w-dvw grid min-h-dvh place-items-center bg-gradient-to-br from-[#C36C75] to-[#B54853]"
  >
    <div
      class="grid h-[75dvh] w-[75dvw] grid-cols-1 grid-rows-2 rounded-lg bg-white shadow-2xl shadow-black/75 md:grid-cols-2 md:grid-rows-1"
    >
      <div class="bg-gradient-to-br from-[#62ceba] to-[#48b5aa] text-white">
        <Slider>
          <SliderContent>
            <h2 class="text-center text-3xl font-medium">
              Access Personalized Dashboard
            </h2>
            <p class="text-center text-xl">
              Unlock a tailored experience to manage and track your personal
              goals efficiently
            </p>
          </SliderContent>
          <SliderContent>
            <h2 class="text-center text-3xl font-medium">
              Streamline Your Workflow
            </h2>
            <p class="text-center text-xl">
              Simplify your daily tasks with easy access to tools and resources
              at your fingertips
            </p>
          </SliderContent>
          <SliderContent>
            <h2 class="text-center text-3xl font-medium">
              Secure Data Management
            </h2>
            <p class="text-center text-xl">
              Protect your sensitive information with encrypted login, ensuring
              privacy and security online
            </p>
          </SliderContent>
        </Slider>
      </div>
      <div
        class="bg-gradient-to-br from-[#394d65] to-[#202d3d] text-white shadow-lg shadow-black/50"
      >
        content
      </div>
    </div>
  </div>
</Layout>
