---
import Layout from '../layouts/Layout.astro'
import Slider from '../components/Slider.astro'
import SliderContent from '../components/SliderContent.astro'

export const title = 'Sign Up Concept'
export const source = new URL(
  'https://dribbble.com/shots/2878911-To-Do-App-Concept-Sign-Up'
)
---

<Layout title={title} source={source}>
  <div
    class="min-w-dvw grid min-h-dvh place-items-center bg-gradient-to-br from-[#C36C75] to-[#B54853]"
  >
    <div
      class="grid h-[75dvh] w-[75dvw] grid-cols-1 grid-rows-2 rounded-lg bg-white shadow-2xl shadow-black/75 md:grid-cols-2 md:grid-rows-1"
    >
      <div
        class="bg-gradient-to-br from-[#62ceba] to-[#48b5aa] font-light text-white"
      >
        <Slider>
          <SliderContent>
            <h2 class="text-center text-2xl">
              Plan your activities and control your progress online 1
            </h2>
          </SliderContent>
          <SliderContent>
            <h2 class="text-center text-2xl">
              Plan your activities and control your progress online 2
            </h2>
          </SliderContent>
          <SliderContent>
            <h2 class="text-center text-2xl">
              Plan your activities and control your progress online 3
            </h2>
          </SliderContent>
        </Slider>
      </div>
      <div
        class="bg-gradient-to-br from-[#394d65] to-[#202d3d] text-white shadow-lg shadow-black/50"
      >
        content
      </div>
    </div>
  </div>
</Layout>
